{% include 'header.html' %}
<br>
<center>
    <img src="{{ pc_detail.image.url }}" class="img-thumbnail" alt="" width="300">
    <br>
    <br>
    <div class="card" style="width: 40rem;">
        <div class="card-header">
            <h1>{{ pc_detail.name }}</h1>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Цена: {{ pc_detail.price }}₽</b> </li>
        </ul>
        
        
    </div>
    <br>
    <br>
    <a class="btn btn-primary" href="/computers/" role="button">Вернуться назад</a>
</center>
<br>
{% include 'footer.html' %}
