{% include "header.html" %}


    
     {% for i in products_list %}
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{{ i.image.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ i.name }}</h5>
        <p class="card-text">{{ i.price }}₽</p>
          <a class="btn btn-primary" href="/products/{{ i.id }}" role="button">Подробнее</a>
      </div>
    </div>
  </div>


</div>
<br>
    {% endfor %}
{% include 'footer.html' %}



